*{
    box-sizing: border-box;
    margin: 0;
  
}
@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-Thin.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(./font/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf);

}
@font-face{
    font-family: im_fell_Double_pica_sc;
    src: url(./font/IM_Fell_Double_Pica_SC/IMFellDoublePicaSC-Regular.ttf);
}


.part1{
   width: 100%;
   height: 750px;
   flex-shrink: 0;
    background: linear-gradient(rgba(10, 31, 89, 0.6), rgba(0, 0, 0, 0.2)), url("../images/banner1.png") center/cover no-repeat; 
}

ul li a{
    color: #FFF;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    gap: 100px;
   /* display: block; */

   
 
}
ul li {
    list-style: none;
    padding: 20px;
}
.home a{
    border-bottom: 2px #FFF solid;
    
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Rectangle{
   
    width: 200px;
    height: 100px;
}
ul{
    display: flex;
    justify-content: space-between;
    
}
.prectangle{
    position: relative;
    top: -90px;
    left: 50px;
    color: #14274A;
    font-family: "Adobe Garamond Pro";
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;

}



.heade_main{
    margin-left: 200px;
    margin-top: 100px;
  
}



.p1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h1{
    color: #E0B973;
    font-family: "Adobe Garamond Pro";
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.78px;
}





.heading1{
    color: #FFF;
    font-family: "Adobe Garamond Pro";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 24px;
}

.p2{
    color: #FFF;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
}

.headingbootom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.button1{
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    background: #E0B973;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
    border: none;
    border-radius: 10px;
}
.but_h{
    font-size: 20px;
    border-radius: 15px solid;
   
}
.but_h a{
    text-decoration: none;
    color: #FFF;
}
.but_h a:hover{
    cursor: pointer;
    color: rgb(10, 10, 12);
    transform: translateY(10px);
    margin-bottom: 20px;
}
.p3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.25px;
}

.scroll{
    margin-top: 5px;
}
/* end of header */
.imganimated{
    transition: all 0.7s ease;
   
}
.imganimated:hover {
    transform: scale(1.1);
    
}
.newmain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-top: 10vw;
    gap: 10vw;
    
}
.newmainpart1{
    padding-left: 30px;
    width: 40vw;
    height: 300px;
    border-left: 3px rgb(182, 182, 234) solid;
  

}

.mainh1{
    color: #14274A;
    font-family: "Adobe Garamond Pro";
}
.text{
    color: #14274A;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #14274A;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
  text-align: center;
    margin-top: 30px;
}


.section2_h1{
    color: #14274A;
    font-family: "Adobe Garamond Pro";
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-top: 0px; 
    margin-left: 10px;
    padding-left: 20px;
   
}
.section2_p{
    color: #14274A;
    -webkit-text-stroke-width: 0.30000001192092896;
    -webkit-text-stroke-color: #14274A;
    font-family: Montserrat;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 100;
    line-height: 20px; /* 160% */
    margin-top: 30px;
    padding-left: 40px;

}
.section2_BU{
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    background: #E0B973;
    width: 180px;
    height: 50px;
    margin-top: 50px;
    
    border-radius: 25px;
    border: none;
    margin-left: 20px;
  
}
.section2_BU a{
    color: #00093c;
    text-decoration: none;
}
.section2_BU a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: translateY(10px);
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 25px;

}
.img2{
    width: 400px;
    /* height: 100%; */
    flex-shrink: 0;
    fill: rgba(20, 39, 74, 0.20);
    display: flex;
    flex-direction: row;
    margin-left: 900px;
    margin-top: 50px;  
 
  
}
/* sction3 */

.sction3_main{
   display: flex;
   justify-content: center;
   margin-left: -260px;
   margin-top: 150px;
}
.sction3_h1{
    color: #14274A;
    font-family: "Adobe Garamond Pro";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 340px;

    
}
.sction3_h1:hover{
    transform: translateY(10px);
    font-size: 50px;
    text-shadow: 0px 0px 50px blue;


 }
.sction3_p{
    color: #14274A;
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #14274A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-left: 290px;
   
    

   
}
.sction3_text{
    color: #14274A;
    -webkit-text-stroke-width: 0.20000000298023224;
    -webkit-text-stroke-color: #14274A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 330px;
    margin-top: 15px;
    

}
.sction3_pic{
   
    margin-top: 40px;
    
}
.sction3_img{
    width: 80px;
    height: 40px;
    flex-shrink: 0;
}
span{
    font-size: 8px;
    padding: 5px;
}
/* footer */

footer{
    background: linear-gradient(to right, #39a7f0, #2d0b00);
    border-top-left-radius: 100px;
    margin-top: 100px;
    width: 100%;
    height: fit-content;
   
}

footer *{
    color: white;
}

.containeer{
    display: flex;
    justify-content: space-between;
    padding: 50px 7%;
}

.footer-col{
    width: 18%;
   
  
}

.footer-col h2{
    font-optical-sizing: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 20px;

   
  
}

p.email{
    margin: 30px 0;
}

p.phone{
    font-size: 20px;
    font-weight: 400;
}

.footer-col .text-office{
    margin-bottom: 20px;
}
.underline{
    width: 70px;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.underline span{
    width: 7px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: rgb(63,63,63);
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.secondul{
    list-style-type: none;
 
   
}


.secondul{
    display: grid;

    
    
}
.footer-col form{
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: flex;
}

.footer-col form input{
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.footer-col form i{
    font-size: 15px;
}

.footer-col .social-icons{
    margin-top: 20px;
}

.footer-col .social-icons i{
    padding: 10px;
    background-color: white;
    color: #00093c;
    border-radius: 50%;
    margin: 5px;
}


.footer-para{
    max-width: 250px;
}

/* inline style */
.imge_home{
    height: 40px;
     width: 40px;
     margin-left: 10px;

}
 .bh{
    margin-top: 5px;
     font-size: 20px; 
 }
 .imganimated{
    height :auto; 
    width:80%;

 }
 .imganimated{

  height:auto ; 
  width:80%;
 }
 

/* media queries */
@media screen  and (max-width:700px) {
    ul{
        flex-wrap: wrap;
    }

 
   .logo{
    display: none;
   }
  ul{
    justify-content: left;
  }
ul li a{
    font-size: 15px;
    float: left;
}
    .footer div{
        margin: auto;
    }
.heade_main{
    margin-left: 10px;
    
}
.section2_p{
    width: 50vw;
    height: auto;
}
.text{
    font-size: 5vw;
}

.part1{
    height: fit-content;
}
.h1{
    font-size: 10vw;
}
.newmain{
    display: grid;
    gap: 40px;
}
.section2_BU{
    width: 35vw;
    margin-left: 5px;
}
.section2_p{
    font-size: 20px;
}
.newmainpart2{
    margin-top: 220px;
}
.sction3_main{
    margin-top: 20px;
}
.containeer{
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
}

@media (max-width:530px) {
    .containeer{
        margin: auto;
        grid-template-columns: 1fr;
    }
    .footer-col{
        margin: auto;
    }
}

/* css */
    

.header a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 0 2px 8px #000;
    transition: 0.5s;
}
.navbar a:hover{
    color: #ffc997;
   font-size: 35px;
   text-decoration:  underline #ffc997;

 }
.navbar ul::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1.8px;
    background: rgb(212, 7, 7);
    transition: .4s;
}
.navbar ul:hover::before{
    width: 100%;
} 

.single_room:hover {
    transform: translatey(10px);
    cursor: pointer;
    background-color: rgb(202, 145, 37);
  }

